<a href="https://colab.research.google.com/github/redtimegood/ptython/blob/main/py_Aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형
**숫자형**  
* 정수 : 123, 456, 0, -45  
* 실수 : 3.141592, -892.65, 0.5e5  
* 8진수 : 0o524, 0o123
* 16진수 : 0x0D, 0x0A, 0x0F  

**변수**
* 문자 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _) 
ex) sum_9, Alpha, s9n,  
* 파이썬 키워드(print...)  

**표기법**
+ 카멜(낙타) : myName 
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"
c = a+b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10" # 주석
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 곱셈 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열
1. 큰따옴표 : "Lang Kim"
2. 작은 따옴표 : 'Lang Kim'
3. 큰따옴표 3개 : """대한민국"""
4. 작은 따옴표 3개: '''대한민국'''
5. "동해무과 백두산이 마르고 닳도록 kim\'s"

In [ ]:
# 변수
myName = "Kim Lang Ki"
my_name = "이의섭"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도", "바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print (a,b)

2 1

In [ ]:
b = 2; c = 3
 a = (b=b+c) # error
print(a)

IndentationError: ignored

In [ ]:
a=1;b=2;c=3

In [ ]:
# len()

a = "123456"
b = [2,3.4,5]
print(len(a))
print(len(b))

6
3

계산기

In [ ]:
a = 100
b = 200
result = a + b
print(a, '+',b, '=',result)
result = a - b
print(a, '-',b,'=',result)
result = a / b
print(a, '/',b,'=',result)
result = a * b
print(a, '*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1:1
숫자입력2:2
<class 'int'>
3

In [ ]:
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(num1, '+',num2, '=',result)
result = num1 - num2
print(num1, '-',num2, '=',result)
result = num1 / num2
print(num1, '/',num2, '=',result)
result = num1 * num2
print(num1, '*',num2, '=',result)

숫자입력1:9
숫자입력2:2
<class 'int'>
9 + 2 = 11
9 - 2 = 7
9 / 2 = 4.5
9 * 2 = 18

In [41]:
#자기이름, 전화번호, 택배(g)x100, (입력을 받음)
#결과값= g x 100원 =00원 입니다.
n1 = int(input("자기이름:"))
n2 = int(input("전화번호:"))
num3 = int(input("택배값"))
num4 = 100
print(type(n1))
print(type(n2))
print(type(n3))
result = num3 * num4
print(num3, '*', num4, '=', result)

자기이름:123
전화번호:123
택배값500
<class 'int'>
<class 'int'>

NameError: ignored

# CH2. 서식 출력 pront()

In [5]:
print("%d"% 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능: format

In [100]:
print("{0:d} {1:d} {2:d}" .format(123,456,789))

123 456 789

In [7]:
print("{2:d} {1:5d} {0:05d}" .format(123,456,789))

789   456 00123

In [9]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [11]:
print("\n탭키 명령 \t연습입니다.")

탭키 명령 	연습입니다.

In [17]:
print("따옴표 글자가 \"강조\"되는 효과")
print("따옴표 글자가 \'강조\'되는 효과")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과
따옴표 글자가 '강조'되는 효과
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [18]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자

In [21]:
a = 95
print((a>100) and (a<200)) #100<a<200
print((a<100) or (a>200)) #a<100, a>200
print(not(a==100)) # a<1=00, a>=101

False
True
True

In [25]:
if(1):
  print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 int(input("입력:")) 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원)
money, c500, c100, c50, c10  
받은돈 : ?원  
500원 : ?개  
100원 : ?개  
50원 : ?개  
10원 : ?개  
나머지 : ?원

In [49]:
temp, money, c500, c100, c50, c10=0,0,0,0,0,0
money=int(input("동전으로 교환할 돈은?:"))
temp = money

c500 = money //500 # 몫
money %= 500 #money = money % 500
c100 = money // 100
money %= 100
c50 = money //10
money %= 50
c10 = money
money %= 10
print("입력받은 돈은 %d원" % temp)
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c100)
print("50원 동전 : %d" % c50)
print("10원 동전 : %d" % c10)
print("나머지잔돈 : %d" % money)

동전으로 교환할 돈은?:123456
입력받은 돈은 123456원
500원 동전 : 246
100원 동전 : 4
50원 동전 : 5
10원 동전 : 6
나머지잔돈 : 6

#### 조건문

In [53]:
a = 10
if(a < 100):
  print("100보다 작으며 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

100보다 작으며 참
거짓이면 이문장은 보이지 않음
프로그램 끝

In [57]:
a = 10
if(a<100):
  print("참:100보다 작음")
else :
  print("거짓:조건보다 크면")
print("프로그램 끝")

참:100보다 작음
프로그램 끝

In [59]:
# 홀짝 구분
a = int(input("숫자 입력:"))
b = a % 2
if(b==0): #if(a%2==0
  print("짝수 입니다.")
else :
  print("홀수 입니다.")

숫자 입력:123124
짝수 입니다.

In [63]:
a = int(input("숫자입력:"))
if(a>50):
  if(a < 100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a > 25):
    print("25<a<50")
  else:
    print:("a<25")

숫자입력:234
a>100

In [65]:
fruit = ['사과','배','샤인머스켓', '바나나']
fruit.append('망고')
if '망고' in fruit :
  print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [66]:
for i in range(0,3,1): #시작,끝값+1,증가값
  print("%d 안녕하세요." % i)
print("환영합니다.^^*")

0 안녕하세요.
1 안녕하세요.
2 안녕하세요.
환영합니다.^^*

In [71]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,45))
print("생성 리스트", num)

생성 리스트 [1, 41, 38, 18, 22, 32]

In [83]:
for i in range(1,9,1):
  print("%d" % i, end='')
print("\n")
for j in range(1,9,1):
  print("%d" % j, end='\t')

12345678

1	2	3	4	5	6	7	8

In [76]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지의 합: %d" % sum)

1부터 10까지의 합: 55

In [77]:
sum,num=0,0
num = int(input("숫자입력"))
for i in range(1,num+1,1):
  sum = sum + i
print("1~n까지의 합:%d" % sum)

숫자입력100
1~n까지의 합:5050

In [102]:
i,j,k=0,0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" % (i,j,i*j))
  print("")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### Quiz3 구구단을 만들고 2,3,4,5, 줄바꿔서 6,7,8,9을 출력하시오

In [ ]:
for i in range(2,6,1):
  for j in range(1,10,1):
      print("%d x %d = %2d" % (i,j,i*j))    
  print("")
print("")