<a href="https://colab.research.google.com/github/redtimegood/ptython/blob/main/py_Aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형
**숫자형**  
* 정수 : 123, 456, 0, -45  
* 실수 : 3.141592, -892.65, 0.5e5  
* 8진수 : 0o524, 0o123
* 16진수 : 0x0D, 0x0A, 0x0F  

**변수**
* 문자 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _) 
ex) sum_9, Alpha, s9n,  
* 파이썬 키워드(print...)  

**표기법**
+ 카멜(낙타) : myName 
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20
f = "10"
c = a+b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10" # 주석
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 곱셈 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열
1. 큰따옴표 : "Lang Kim"
2. 작은 따옴표 : 'Lang Kim'
3. 큰따옴표 3개 : """대한민국"""
4. 작은 따옴표 3개: '''대한민국'''
5. "동해무과 백두산이 마르고 닳도록 kim\'s"

In [ ]:
# 변수
myName = "Kim Lang Ki"
my_name = "이의섭"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도", "바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [ ]:
a = 1;b = 2
a,b = b,a
print (a,b)

2 1

In [ ]:
b = 2; c = 3
 a = (b=b+c) # error
print(a)

IndentationError: ignored

In [ ]:
a=1;b=2;c=3

In [ ]:
# len()

a = "123456"
b = [2,3.4,5]
print(len(a))
print(len(b))

6
3

계산기

In [ ]:
a = 100
b = 200
result = a + b
print(a, '+',b, '=',result)
result = a - b
print(a, '-',b,'=',result)
result = a / b
print(a, '/',b,'=',result)
result = a * b
print(a, '*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1:1
숫자입력2:2
<class 'int'>
3

In [ ]:
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(num1, '+',num2, '=',result)
result = num1 - num2
print(num1, '-',num2, '=',result)
result = num1 / num2
print(num1, '/',num2, '=',result)
result = num1 * num2
print(num1, '*',num2, '=',result)

숫자입력1:9
숫자입력2:2
<class 'int'>
9 + 2 = 11
9 - 2 = 7
9 / 2 = 4.5
9 * 2 = 18

In [ ]:
#자기이름, 전화번호, 택배(g)x100, (입력을 받음)
#결과값= g x 100원 =00원 입니다.
n1 = int(input("자기이름:"))
n2 = int(input("전화번호:"))
num3 = int(input("택배값"))
num4 = 100
print(type(n1))
print(type(n2))
print(type(n3))
result = num3 * num4
print(num3, '*', num4, '=', result)

자기이름:123
전화번호:123
택배값500
<class 'int'>
<class 'int'>

NameError: ignored

# CH2. 서식 출력 pront()

In [ ]:
print("%d"% 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능: format

In [ ]:
print("{0:d} {1:d} {2:d}" .format(123,456,789))

123 456 789

In [ ]:
print("{2:d} {1:5d} {0:05d}" .format(123,456,789))

789   456 00123

In [ ]:
print("\n줄 바꿈 명령 \n연습 입니다.")

줄 바꿈 명령
연습 입니다.

In [ ]:
print("\n탭키 명령 \t연습입니다.")

탭키 명령 	연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과")
print("따옴표 글자가 \'강조\'되는 효과")
print("역슬레시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과
따옴표 글자가 '강조'되는 효과
역슬레시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [72]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자

In [ ]:
a = 95
print((a>100) and (a<200)) #100<a<200
print((a<100) or (a>200)) #a<100, a>200
print(not(a==100)) # a<1=00, a>=101

False
True
True

In [ ]:
if(1):
  print("참이면 실행되어 보임")
if(0):
  print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 int(input("입력:")) 지폐 금액입력 후 동전으로 교환시 (500원, 100원, 50원, 10원)
money, c500, c100, c50, c10  
받은돈 : ?원  
500원 : ?개  
100원 : ?개  
50원 : ?개  
10원 : ?개  
나머지 : ?원

In [ ]:
temp, money, c500, c100, c50, c10=0,0,0,0,0,0
money=int(input("동전으로 교환할 돈은?:"))
temp = money

c500 = money //500 # 몫
money %= 500 #money = money % 500
c100 = money // 100
money %= 100
c50 = money //10
money %= 50
c10 = money
money %= 10
print("입력받은 돈은 %d원" % temp)
print("500원 동전 : %d" % c500)
print("100원 동전 : %d" % c100)
print("50원 동전 : %d" % c50)
print("10원 동전 : %d" % c10)
print("나머지잔돈 : %d" % money)

동전으로 교환할 돈은?:123456
입력받은 돈은 123456원
500원 동전 : 246
100원 동전 : 4
50원 동전 : 5
10원 동전 : 6
나머지잔돈 : 6

#### 조건문

In [ ]:
a = 10
if(a < 100):
  print("100보다 작으며 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

100보다 작으며 참
거짓이면 이문장은 보이지 않음
프로그램 끝

In [ ]:
a = 10
if(a<100):
  print("참:100보다 작음")
else :
  print("거짓:조건보다 크면")
print("프로그램 끝")

참:100보다 작음
프로그램 끝

In [ ]:
# 홀짝 구분
a = int(input("숫자 입력:"))
b = a % 2
if(b==0): #if(a%2==0
  print("짝수 입니다.")
else :
  print("홀수 입니다.")

숫자 입력:123124
짝수 입니다.

In [ ]:
a = int(input("숫자입력:"))
if(a>50):
  if(a < 100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a > 25):
    print("25<a<50")
  else:
    print:("a<25")

숫자입력:234
a>100

In [ ]:
fruit = ['사과','배','샤인머스켓', '바나나']
fruit.append('망고')
if '망고' in fruit :
  print("망고가 있습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [ ]:
for i in range(0,3,1): #시작,끝값+1,증가값
  print("%d 안녕하세요." % i)
print("환영합니다.^^*")

0 안녕하세요.
1 안녕하세요.
2 안녕하세요.
환영합니다.^^*

In [ ]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,45))
print("생성 리스트", num)

생성 리스트 [1, 41, 38, 18, 22, 32]

In [ ]:
for i in range(1,9,1):
  print("%d" % i, end='')
print("\n")
for j in range(1,9,1):
  print("%d" % j, end='\t')

12345678

1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1,11,1):
  sum = sum + i
print("1부터 10까지의 합: %d" % sum)

1부터 10까지의 합: 55

In [ ]:
sum,num=0,0
num = int(input("숫자입력"))
for i in range(1,num+1,1):
  sum = sum + i
print("1~n까지의 합:%d" % sum)

숫자입력100
1~n까지의 합:5050

In [ ]:
i,j,k=0,0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%d x %d = %2d" % (i,j,i*j))
  print("")

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

4 x 1 =  4
4 x 2 =  8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

5 x 1 =  5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

6 x 1 =  6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

7 x 1 =  7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

8 x 1 =  8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

9 x 1 =  9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

### Quiz3 구구단을 만들고 2,3,4,5, 줄바꿔서 6,7,8,9을 출력하시오

In [1]:
k= int(input("구구단 단수 입력 : "))
for a in range(1,10):
  for b in range(2,6):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")
print("\n")
c,d=0,0
for c in range(1,10):
  for d in range(6,10):
    print("%d x %d = %2d" % (d,c,c*d), end="\t")
  print("")

구구단 단수 입력 : 1
2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# CH3 자료형
## 1. 리스트 인덱스, 슬라이싱

In [73]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [74]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [75]:
a = [1,2,3,4,5,6,7,8,9]
print(a[1:9:2])
print(a[0:9:2])

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [76]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [77]:
a=[1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [78]:
b = [1,2,3,4,5,6]
b[0] = "apple"
b[1] = 99
b[5] = [1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

## list add

In [79]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#### 함수 이용

In [80]:
k = ["a", "b", "c", "d"]
k.remove("c") # 해당 요소값 삭제
print(k)
k.append("f") # 맨뒤에 추가
print(k)

['a', 'b', 'd']
['a', 'b', 'd', 'f']

In [81]:
k = [1,2,3,4,5]
k.remove(3) # 해당 요소값 삭제
print(k)
k.append(6) # 맨뒤에 추가
print(k)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [82]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [83]:
j = " God is love!"
print(j.upper())
print(j.lower())
print(j.strip())

 GOD IS LOVE!
 god is love!
God is love!

In [84]:
a = "apple, mango, banana"
print(a.split("."))

['apple, mango, banana']

In [85]:
a = ["apple", "banana", "cherry"]
a.append("Orange") # 지정한곳에 삽입
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [86]:
a = ["apple", "banana", "cherry", "banana"]
a.remove("banana")
print(a)

['apple', 'cherry', 'banana']

In [87]:
a = ["apple", "banana", "cherry"]
a.pop() # 맨뒤 지움
print(a)
a.pop(1)
print(a)

['apple', 'banana']
['apple']

In [88]:
fruit = ["사과", "배", "오렌지"]
for i in fruit:
  print(i)

사과
배
오렌지

In [89]:
fruit = ["감", "배추", "배"]
for i in range(len(fruit)):
  print(fruit)

['감', '배추', '배']
['감', '배추', '배']
['감', '배추', '배']

## SORT

In [90]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort(reverse = True)
print(a)
a.sort()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
fruit = ["Kiwi", "apple", "Orange", "banana"]
fruit.sort() # 대소문자 구분
print(fruit)
fruit.sort(key=str.lower) # 대소문자 구분없이
print(fruit)
fruit.reverse()
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

In [93]:
#List 복사
fruit = ["Kiwi", "apple", "Orange", "banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['Kiwi', 'apple', 'Orange', 'banana']
['Kiwi', 'apple', 'Orange', 'banana']

## 2. Tuple 튜플

In [133]:
 l = [1,2,3]
 t = (5,6,7)
 print(type(l))
 print(type(t))

<class 'list'>
<class 'tuple'>

In [134]:
 l = [1,2,3]
 t = (5,6,7)
 l[0] = 4
 print(l)
 # t[0] = 8
 print(t)

[4, 2, 3]
(5, 6, 7)

In [135]:
f = ("apple", "banana", "cherry")
print(len(f))

3

In [136]:
t = ("kiwi")
print(t)
print(type(t))

kiwi
<class 'str'>

In [137]:
t = ("kiwi",) # 튜플로 인식하기 위해 "," 필요
print(t)
print(type(t))

('kiwi',)
<class 'tuple'>

In [138]:
f = ("banana", "apple", "kiwi", "cherry", "Orange")
print(f[:4])
print(f[3:])

('banana', 'apple', 'kiwi', 'cherry')
('cherry', 'Orange')

In [139]:
f = ("banana", "apple", "kiwi", "cherry", "Orange")
if "apple" in f:
  print("Yes")
else:
  print("NO")

Yes

#### Tuple <-> List

In [140]:
# 튜플에 추가하는 방법
t = ("apple", "banana", "cherry")
y = list(t)
print(type(y))
y.append("Orange")
t = tuple(y)
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [141]:
# List -> Tuple
company = ["LG", "SK", "Apple"]
t = tuple(company)
print(t)

('LG', 'SK', 'Apple')

In [142]:
c = ("LG","SK","Apple")
d = ("Samsug",)
c += d
print(c)

('LG', 'SK', 'Apple', 'Samsug')

In [132]:
t = ("감", "밤", "대추")
l = list(t)
l.remove("대추")
t = tuple(l)
print(t)

('감', '밤')

## 3.Dict 사전자료형

In [105]:
d = {
    "a" :1,
    "b" :2,
    "c" :3,
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [106]:
d = {
    "a" :1,
    "b" :2,
    "c" :3,
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [107]:
car = {
    "maker" : "Hyundai",
    "model" : "pony2",
    "year" : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "Blue"
print(car)
print(car["maker"])

{'maker': 'Hyundai', 'model': 'pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'pony2', 'year': 2000, 'color': 'Blue'}
Hyundai

In [108]:
car = {
    "maker" : "BMW",
    "model" : "74OLI",
    "year" : 2023
}
car.pop("model") # 해당 키값을 삭제
print(car)

{'maker': 'BMW', 'year': 2023}

In [109]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.popitem() # 맨뒤 삭제
print(car)

{'maker': 'BMW', 'model': 'GT'}

In [110]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
car.clear() # 비움
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [111]:
car = {
    "maker" : "BMW",
    "model" : "GT",
    "year" : 2023
}
del car
# print(car)

In [112]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car:
  print(car[x])

BMW
i4
2023

In [113]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.values():
  print(x)

BMW
i4
2023

In [114]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x, y in car.items():
  print(x,y)

maker BMW
model i4
year 2023

In [115]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
myCar = car.copy()
print(myCar)

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [116]:
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "Price" : 2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'Price': 2000}

In [117]:
name1 = {"name" : "김삿갓", "year" : 1900}
name2 = {"name" : "홍길동", "year" : 1800}
name3 = {"name" : "김유진", "year" : 2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

## Quiz
이름과 전화번호를 입력 받아 사전 자료형으로 저장하세요

In [145]:
name1 = input("이름1:")
name2 = input("이름2:")
name3 = input("이름3:")
name4 = input("전화번호4:")
name5 = input("전화번호5:")
name6 = input("전화번호6:")
file = {
    "이름" : name1,
    "전화번호" : name4,
    "이름" : name2,
    "전화번호" : name5,
    "이름" : name3,
    "전화번호" : name6
}
print(file)

이름1:ㅇ
이름2:3
이름3:5
전화번호4:1
전화번호5:3
전화번호6:5
{'이름': '5', '전화번호': '5'}

In [143]:
for i in input("이름:")

SyntaxError: ignored