<a href="https://colab.research.google.com/github/redtimegood/ptython/blob/main/py_Aban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1. 파이썬 문법
## 자료형
**숫자형**  
* 정수 : 123, 456, 0, -45  
* 실수 : 3.141592, -892.65, 0.5e5  
* 8진수 : 0o524, 0o123
* 16진수 : 0x0D, 0x0A, 0x0F  

**변수**
* 문자 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A-z, 0-9, _) 
ex) sum_9, Alpha, s9n,  
* 파이썬 키워드(print...)  

**표기법**
+ 카멜(낙타) : myName 
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [1]:
a = 10
b = 20
f = "10"
c = a+b
print(a,b,c,f)

10 20 30 10

In [4]:
a = 10
b = 20
c = "10" # 주석
d = "20"
print(a+b)
print(a,b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
10 20
<class 'int'>
<class 'str'>
1020
10 20

In [5]:
# 곱셈 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c,d,e)

3.3333333333333335 3 1

In [7]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열
1. 큰따옴표 : "Lang Kim"
2. 작은 따옴표 : 'Lang Kim'
3. 큰따옴표 3개 : """대한민국"""
4. 작은 따옴표 3개: '''대한민국'''
5. "동해무과 백두산이 마르고 닳도록 kim\'s"

In [9]:
# 변수
myName = "Kim Lang Ki"
my_name = "이의섭"
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

In [11]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [12]:
x,y,z = "딸기", "포도", "바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [13]:
fruits = ["누가바", "쌍쌍바", "보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [14]:
x = "Life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)

Life is beautiful!
Lifeisbeautiful!

In [15]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [16]:
a = 1;b = 2
a,b = b,a
print (a,b)

2 1

In [22]:
b = 2; c = 3
 a = (b=b+c) # error
print(a)

IndentationError: ignored

In [ ]:
a=1;b=2;c=3

In [19]:
# len()

a = "123456"
b = [2,3.4,5]
print(len(a))
print(len(b))

6
3

계산기

In [20]:
a = 100
b = 200
result = a + b
print(a, '+',b, '=',result)
result = a - b
print(a, '-',b,'=',result)
result = a / b
print(a, '/',b,'=',result)
result = a * b
print(a, '*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [24]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [27]:
# 계산기 2
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(result)

숫자입력1:1
숫자입력2:2
<class 'int'>
3

In [31]:
num1 = int(input("숫자입력1:"))
num2 = int(input("숫자입력2:"))

print(type(num1))
result = num1 + num2
print(num1, '+',num2, '=',result)
result = num1 - num2
print(num1, '-',num2, '=',result)
result = num1 / num2
print(num1, '/',num2, '=',result)
result = num1 * num2
print(num1, '*',num2, '=',result)

숫자입력1:9
숫자입력2:2
<class 'int'>
9 + 2 = 11
9 - 2 = 7
9 / 2 = 4.5
9 * 2 = 18

In [33]:
#자기이름, 전화번호, 택배(g)x100, (입력을 받음)
#결과값= g x 100원 =00원 입니다.
num1 = int(input("자기이름:"))
num2 = int(input("전화번호:"))
print(type(num1))


print(type(num2))

자기이름:이의섭

ValueError: ignored